[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
  url = https://github.com/LuaDist/lua.git
  branch = lua-5.3
